<app-menu (selectedPage)="changePage($event)"></app-menu>

@switch (page) {
  @case ("home") {
    <app-home></app-home>
  }
  @case ("cart") {
    <app-cart></app-cart>
  }
  @case ("checkout") {
    <app-checkout></app-checkout>
  }
  @case ("product-detail") {
    <app-product-detail></app-product-detail>
  }
  @case ("product-list") {
    <app-product-list></app-product-list>
  }
  @case ("profile") {
    <app-profile></app-profile>
  }
  @default {
    <app-home></app-home>
  }
}

<!-- <router-outlet/> -->